<!DOCTYPE html>
<html data-ng-app="">
<head>
   <title>using AngularJS Directives and Data Binding</title>
</head>
<body>
	<div data-ng-controller="SimpleController">
    Name:
    <br />
    <input type="text" data-ng-model="nameText" />
    <br />
    <ul>
    	<li data-ng-repeat="cust in customers | filter:nameText | orderBy:'city'">{{ cust.name | uppercase }} - {{ cust.city | lowercase }}</li>
    </ul>
</div>

    <script src="../angular.js"></script>
	<script>

	     function SimpleController($scope) {

	     	$scope.customers = [
	     	                   {name:'John Smith', city:'Phoenix'},
                               {name:'John Doe', city:'New York'},
                               {name:'Jane Doe', city:'San Francisco'}
                               ];

                           }


	</script>
</body>
</html>